<link rel="stylesheet" href="/more_about.css">

<h1>MORE ABOUT</h1>
 
<p class="lead">JOIN US is a fictitious project created as part of a course on database management with sql.</p>
<p class="lead">In this course the students learned how to use MySQL to create and manage databases, 
	and the basics on node.js to link databases to web pages.
	This web page is a simple example of databases usage in web pages, every email entered on the main web page is stored in
	a database.
</p>
 
<form method="GET" action='/'>
 <button>Return</button>
</form>